<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmy.dao.AssetBuyMapper">
    <resultMap id="toDoAssetMap" type="com.cmy.pojo.ToDoList">
        <result column="action1" property="action"/>
        <result column="apply_time" property="time"/>
    </resultMap>
    <select id="getToDoList0" resultMap="toDoAssetMap" parameterType="java.lang.String">
        SELECT action1,apply_time FROM buy_check where status = 0 and checker_id=#{userId}
    </select>
</mapper>